@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0')
      format('embedded-opentype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0')
      format('woff2'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0')
      format('woff'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0')
      format('truetype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
      format('svg');
}

/* background-color: #e6f2ff; */

body {
  background-color: #fafcff;
  font-weight: 400;
  font-size: 12px;
  font-family: Verdana, Tahoma, 'Helvetica Neue', Helvetica, sans-serif;
}

table {
  /* background-color: #f8f8f8; */
  /* background-color: #f5f5f5; */
  background-color: #fff;
  color: #333;
  margin: 50px;
  border-spacing: 0px;
  border-radius: 2px;
}

table,
table > * {
  box-sizing: border-box;
}

th,
td {
  text-align: left;
}

th {
  /* font-weight: 600; */
  padding-right: 2em;
  color: #222;
}

/* #0091ea */

tbody:before {
  content: '-';
  display: block;
  line-height: 1em;
  color: transparent;
}

tbody tr:hover {
  background: #d8dadb;
}

tbody tr:nth-child(odd) {
  /* background: #eee; */
  background: #f1f3f4;
}

tbody tr:nth-child(odd):hover {
  background: #d8dadb;
}

table.border td,
table.border th {
  border: 1px solid #bdc3c7;
}

th.sorting,
th.sorting_asc,
th.sorting_desc {
  padding: 0.375em;
  padding-left: 0.25em;
  padding-right: 2.333333em;
}

th.sorting_asc:after {
  content: '\f0de';
  float: right;
  font-family: fontawesome;
  padding-right: 0.25em;
  font-size: 0.75em;
  line-height: 1.5em;
}
th.sorting_desc:after {
  content: '\f0dd';
  float: right;
  font-family: fontawesome;
  padding-right: 0.25em;
  font-size: 0.75em;
  line-height: 1.5em;
}
th.sorting:after {
  content: '\f0dc';
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
  padding-right: 0.25em;
  font-size: 0.75em;
  line-height: 1.5em;
}

td.expandable:before {
  content: '\f078';
  color: rgba(50, 50, 50, 0.5);
  float: left;
  font-family: fontawesome;
  padding-left: 0.25em;
  padding-right: 0.5em;
  font-size: 0.75em;
  line-height: 1.5em;
}
